<h1 class="host-title">
  DEMO HOST/СONTAINER COMPONENT
</h1>

<wizard class="wizard-container">
  <wizard-step class="wizard-step">
    <h2>First Step</h2>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
    <nav>
      <!-- Example: Wizard navigation from container/host component -->
      <button class="host-component-level-btn" (click)="goNext()">I agree</button>
    </nav>
  </wizard-step>

  <wizard-step>
    <h2>Second Step</h2>
    <app-demo-form></app-demo-form>
    <nav>
      <!-- Example: Wizard navigation from container/host component -->
      <button class="host-component-level-btn" (click)="navigationService.back()">Back</button>
    </nav>
  </wizard-step>

  <wizard-step>
    <h2>Third Step</h2>
    <h3>Last Step in wizard, please go back</h3>
    <nav>
      <!-- Example: Wizard navigation - go to first screen -->
      <button class="host-component-level-btn" (click)="navigationService.first()">Go to first screen</button>
    </nav>
  </wizard-step>
</wizard>
